{% extends 'mainsite/base.html' %}

{% block content %}
    <div class="h4 col-12 text-center border rounded">Данные о пользователе {{ object.username }}</div>
        <div class="row my-4">
            <div class="col-3 route-image">
                <img class="rounded-circle img-fluid img-thumbnail" src="/{{ object.user.avatar }}" />
            </div>
            <div class="col-8 text-center">
                <div class="row">
                    <div class="col-12 border rounded m-1">{{ object.user.get_full_name }}</div>
                </div>
                <div class="row">
                    <div class="col border rounded m-1">Пол: {{ object.user.get_gender_display }}</div>
                    <div class="col border rounded m-1">Дата рождения: {{ object.user.date_of_birth }}</div>
                </div>
                <div class="row">
                    <div class="col border rounded m-1">{{ object.about }}</div>
                    <div class="col border rounded m-1">{{ object.experience_desc }}</div>
                </div>
            </div>
        </div>
    <div class="h5 col-12 text-center border rounded my-3">Пройденные маршруты</div>
{% endblock %}