<nav class="navbar navbar-expand-md navbar-dark bg-dark my-3">
    <a href="#" class="navbar-brand">Мой Край</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbarCollapse" style="">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'main' %}">Главная <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'travelapp:route_list' %}">Маршруты</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Обучение</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Контакты</a>
        </li>
    </ul>
    <ul class="navbar-nav mt-2 mt-md-0">
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="
            {% if user.is_traveler == True %}
                {% url 'userapp:traveler_page' user.traveler.pk %}
            {% else %}
                {% url 'userapp:instructor_page' user.instructor.pk %}
            {% endif %}">{{ user.first_name|default:'User' }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'auth:logout' %}">Выйти</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'authapp:login' %}">Вход</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'authapp:register' %}">Регистрация</a>
        </li>
        {% endif %}
    </ul>
    </div>
</nav>