{% extends 'mainsite/base.html' %}
{% block content %}
<main role="main" class="container">
  <div class="row">
    <div class="col-md-12 blog-main">
      <h3 class="pb-4 mb-4 font-italic border-bottom text-center">Подбор похода</h3>
        {% include 'travelapp/includes/inc-filter-form.html' %}
        <div class="row my-4">
        {% for trip in trip_list %}
          {% if forloop.first %}
          <div class="row col-12 justify-content-center font-weight-bold">
              <div class="col-1 border">Обзор</div>
              <div class="col-2 border">Даты</div>
              <div class="col-2 border">Регион</div>
              <div class="col-2 border">Тип маршрута</div>
              <div class="col-2 border">Сложность</div>
              <div class="col-1 border">Цена</div>
              <div class="col-1 border">Занято</div>
              <div class="col-1 border">Запись</div>
          </div>
          {% endif %}
          <div class="row col-12 justify-content-center">
              <div class="col-1 border"><a href="{% url 'travelapp:route_read' trip.route.pk %}"><img class="mx-auto d-block" src="/static/img/View.svg" alt="Показать"></a></div>
              <div class="col-2 border">{{ trip.starts_at|date:"d M Y" }}<br>{{ trip.ends_at|date:"d M Y" }}</div>
              <div class="col-2 border">{{ trip.route.location }}</div>
              <div class="col-2 border">{{ trip.route.get_type_display }}</div>
              <div class="col-2 border">{{ trip.route.get_complexity_display }}</div>
              <div class="col-1 border">{{ trip.price }} </div>
              <div class="col-1 border">{{ trip.subbed }}/{{ trip.max_group_size }}</div>
              <div class="col-1 border"><a href="{% url 'ordersapp:create_order' trip.pk %}" class="btn btn-sm btn-info">Заказать</a></div>
          </div>
        {% endfor %}
        </div>
        <h4 class="pb-4 mb-4 font-italic border-bottom text-center">Популярные маршруты</h4>
        <div class="row">
        {% for route in route_list %}
            {% if route.is_usable %}
              <div class="blog-post col-4 p-1">
                <div class="bg-light p-3">
                <div class="route-image p-4">
                  <img src="/{{route.featured_photo}}" alt="" class="img-fluid img-thumbnail">
                </div>
                <h2 class="blog-post-title text-center"><a href="{% url 'travelapp:route_read' route.pk %}">{{ route.name }}</a></h2>
                <p class="blog-post-meta">Инструктор: <a href="#">{{ route.instructor.user.get_full_name }}</a></p>

                <p>Место: {{ route.location.name }}</p>
                <hr>
                <p>{{ route.short_desc }}</p>
                <hr>
                <p>Тип: {{ route.get_type_display }}, cложность: <span class="p-0 btn
                  {% if route.complexity == 1 %}
                    btn-success
                  {% elif route.complexity == 2 %}
                    btn-warning
                  {% else %}
                    btn-danger
                  {% endif %}
                  ">{{ route.get_complexity_display }}</span></p>
                <p>Длина: {{ route.length }}км (займёт примерно {{ route.duration }} дней)</p>
              </div>
              </div><!-- /.blog-post -->
            {% endif %}
        {% endfor %}
        </div>

<!--      <nav class="blog-pagination">-->
<!--        <a class="btn btn-outline-primary" href="#">Older</a>-->
<!--        <a class="btn btn-outline-secondary disabled" href="#" tabindex="-1" aria-disabled="true">Newer</a>-->
<!--      </nav>-->

    </div><!-- /.blog-main -->

  </div><!-- /.row -->
</main>
{% endblock %}